header {
    color: #222 grey;
    position: relative;
    left: 420px;
    top: -200px;
  }
  
  main {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -100px;
  }
  
  .first {
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
  }
  .second{
    font-size: 69px;
    font-family: 'Abril Fatface', cursive;
  }
  blockquote p::before {
    content: '\201C';
    position: relative;
    top: -25px;
  }
  
  blockquote p {
    font-family: 'Abril Fatface', cursive;
    color: white;
    background: #222;
    font-size: 50px;
    padding:15px;
  }
  hr {
    border-top: 1px solid black;
  }
  p, li {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
  }
  .title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
  }
  .subtitle {
   font-size: 25px;
   font-weight: bold;
  }
  .subsubtitle {
   font-family: 'Merriweather', serif;
   font-size: 15px;
   font-weight: bold;
   margin-top: -20px;
  }
  